<div class="container mt-5">
    <h1>Aphrodite</h1>

    <img src="{{ url_for('static', filename='images/aphrodite.png') }}" class="img-fluid mb-3">

    <ul>
        <li>Goddess of love and beauty</li>
        <li>Represents attraction and desire</li>
        <li>Influences relationships</li>
    </ul>

    <h4>Personality</h4>
    <ul>
        <li>Charismatic</li>
        <li>Can cause love and conflict</li>
        <li>Sometimes manipulative</li>
    </ul>

    <h4>Symbols</h4>
    <ul>
        <li>Dove</li>
        <li>Rose</li>
        <li>Mirror</li>
    </ul>

    <a href="/learn/index" class="btn btn-secondary">Back</a>
</div>