<div class="container mt-5">
    <h1>Athena</h1>

    <img src="{{ url_for('static', filename='images/athena.png') }}" class="img-fluid mb-3">

    <ul>
        <li>Goddess of wisdom and strategy</li>
        <li>Daughter of Zeus</li>
        <li>Represents intelligence and planning</li>
        <li>Strategic warfare</li>
    </ul>

    <h4>Personality</h4>
    <ul>
        <li>Calm and logical</li>
        <li>Values knowledge</li>
        <li>Protector of heroes</li>
    </ul>

    <h4>Symbols</h4>
    <ul>
        <li>Owl</li>
        <li>Olive tree</li>
        <li>Armor</li>
    </ul>

    <a href="/learn/index" class="btn btn-secondary">Back</a>
</div>