<div class="container mt-5">
    <h1>Poseidon</h1>

    <img src="{{ url_for('static', filename='images/poseidon.png') }}" class="img-fluid mb-3">

    <ul>
        <li>God of the sea</li>
        <li>Brother of Zeus</li>
        <li>Controls oceans, storms, and earthquakes</li>
        <li>Important to sailors</li>
    </ul>

    <h4>Personality</h4>
    <ul>
        <li>Powerful but unpredictable</li>
        <li>Calm or destructive</li>
        <li>Causes storms when angered</li>
    </ul>

    <h4>Symbols</h4>
    <ul>
        <li>Trident</li>
        <li>Horse</li>
        <li>Waves</li>
    </ul>

    <a href="/learn/index" class="btn btn-secondary">Back</a>
</div>