<div class="container mt-5">
    <h1>Zeus</h1>

    <img src="{{ url_for('static', filename='images/zeus.jpg') }}" class="img-fluid mb-3">

    <ul>
        <li>King of the Olympian gods</li>
        <li>Ruler of the sky and weather</li>
        <li>Controls lightning and thunder</li>
        <li>Most powerful god</li>
    </ul>

    <h4>Personality</h4>
    <ul>
        <li>Authoritative and dominant leader</li>
        <li>Associated with justice and order</li>
        <li>Decisive but impulsive</li>
        <li>Often involved in conflicts</li>
    </ul>

    <h4>Symbols</h4>
    <ul>
        <li>Thunderbolt</li>
        <li>Eagle</li>
        <li>Oak tree</li>
    </ul>

    <a href="/learn/index" class="btn btn-secondary">Back</a>
</div>